/*Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;

}
/*Home section*/
#home{
height: 280px;
padding: 6px 28px;
}

#home::before{
    height: 370px;
    padding: 0 7px;;
    }
#home p{

}

/*services section*/

#services{
    flex-direction: column;

}

#services .box{

}

/*client section*/
#clients{
    overflow: hidden;
}

/*contact us section*/

/*footer*/

/*Utility classes8*/
.h-primary{
    font-size: 24px;;
}

.btn{
    font-size: 13px;
}